
/* NAV */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #06203e;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    align-items: center;
    color: #202020;
    background-color: #fff3ca;
}

.logo img{
    width: 80px;
}

.nav-itens {
    list-style: none;
    display: flex;
} 

.nav-itens>li>a {
    padding-left: 20px;
    color: #06203e;
    background-color: #fff3ca;
    text-decoration: none;
    font-size: 20px;
    transition: .5s all;
    font-weight: bold;
}

.nav-itens>li>a:hover {
    color: #1669c9;
}

.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    color: #06203e;
    font-weight: bold;
    border-radius: 5px;
    background-color: #fff3ca;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: .5s all;
}

.login:hover {
    transition: 1s background;
    transform: scale(1.05);
    color: #1669c9;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    color: #fff3ca;
    font-weight: bold;
    border-radius: 5px;
    background-color: #06203e;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: .5s all;
}

.cadastro:hover {
    background-color: #0b3b72;
    transform: scale(1.1);
}

/* MAIN */

a {
    text-decoration: none;
    color: #06203e;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imagens/imagem_cadastro.jpg);
}

.login-container {
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #a0a0a0;
    overflow: hidden;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 55px 0;
    transition: 1s;
}

.form-login {
    background-color: #fff3ca;
}

.form-register {
    background-color: #fff3ca;
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-login {
    transform: translateX(100%);
}

.login-container.move .form-register {
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.form-title {
    font-size: 3rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
}

.form-social{
    display: flex;
    gap: 24px;
}

.social-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #06203e;
    box-shadow: 0 4px 4px #0004;
    transition: .5s all;
    color: #fff3ca;
}

.social-icon:hover {
    background-color: #103d70;
    transform: translate(0, -15%);
    color: #fff;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-style: none;
    background-color: #06203e;
    color: #fff3ca;
}

.form-button {
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid #06203e;
    background-color: #fff3ca;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Red Hat Display", sans-serif;
    color: #06203e;
    cursor: pointer;
    transition: .7s all;
}

.form-button:hover {
    background-color: #06203e;
    color: #fff3ca;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    color: #fff3ca;
    text-align: center;
    z-index: 10;
    transition: 1s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    background-color: #06203e;
    transition: 1s;
}

.form-title-light {
    color: #fff3ca;
}

.form-button-light {
    border: 2px solid #fff3ca;
    color: #fff3ca;
    background-color: #06203e;
}

.form-button-light:hover {
    border: 2px solid #06203e;
    background-color: #fff3ca;
    color: #06203e;
}

.login-container.move .overlay-container {
    transform: translateX(0%);
}

.login-container.move .overlay:nth-child(2) {
    z-index: -1;
    opacity: 0;
}

.mobile-text {
    display: none;
}

@media (max-width: 768px) {
    .overlay-container {
        display: none;
    }

    .form {
        width: 100%;
        justify-content: space-evenly;
    }

    .form-register {
        position: absolute;
        background-color: tomato;
        color: white;
        transform: translateX(100%);
    }

    .login-container.move .form-register {
        transform: translateX(0%);
    }

    .login-container {
        width: 75vw;
        height: 75vh;
    }

    .form-button {
        background-color: tomato;
        color: white;
        border: 2px solid white;
    }

    .mobile-text {
        display: block;
    }

    .mobile-text a {
        font-weight: 900;
        color: inherit;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

/* FOOTER */

.main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff3ca;
}

.main-footer ul {
    list-style: none;
}

.main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #06203e;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-footer h2 {
    color: #06203e;
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
}

.main-footer ul li a {
    color: #06203e;
    text-decoration: none;
}

footer {
    background-color: #2f2b53;
    border-top: 1px solid #1d2742;
    font-size: 17px;
    padding: 15px 5px;
    color: #06203e;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #06203e;
}

.logoinfo p {
    color: #06203e;
    font-size: 17px;
    margin-top: 5px;
}

.contact-details {
    margin-top: 20px;
}

.contact-details li {
    list-style: none;
    margin: 10px 0;
}

.contact-details li a {
    text-decoration: none;
    color: #06203e;
    margin-left: 20px;
}

.contact-details .bi {
    color: #06203e;
    margin-right: 10px;
}

.sociallogos {
    padding: 20px 0;
}

.sociallogos .logobox a {
    padding: 0 10px;
    text-decoration: none;
    color: #06203e;
    font-size: 22px;
    transition: .3s all;
}

.sociallogos .logobox a:hover {
    color: #1669c9;
}

.com ul li {
    padding: 5px 0;
    transition: .3s all;
}

.com ul li:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 749px) {

    .main-footer {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 480px) {

    .main-footer {
        grid-template-columns: 1fr;
    }

    .sociallogos {
        padding: 20px 0;
    }

    .com {
        padding: 20px 0;
    }
}